[flake8]
ignore = E741, E731, E203
max-line-length = 120
select = B,C,E,F,W,T4,B9
exclude =
    ./.git,
    ./build_test_custom_build,
    ./build,
    ./caffe2,
    ./docs/caffe2,
    ./docs/cpp/src,
    ./docs/src,
    ./scripts,
    ./test/generated_type_hints_smoketest.py,
    ./third_party,
    ./torch/include,
    ./torch/lib,
    ./venv,
    *.pyi
